.component-searchBox {
  box-shadow: 10px 10px rgb(95, 1, 1);
  margin-top: 20px;
  outline: invert;
  line-height: normal;
  width: 30%;
  padding: 20px;
  margin-bottom: 30px;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 3px;
  font-size: 15px;
}

.component-searchBox:hover {
  transform: scale(1.05);
}
